*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.loader {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
    display: none;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}
.btn_box{
    height: 200px;
    background-color: white;
    margin: auto;
    position:relative;
}
.x_btn{
position: absolute;
    color: black;
    top:0;
    right:10px;
}
.back_btn{
    position: absolute;
    bottom:10px;
    left:10px;
    background-color: yellow;
}
.delete_btn{
    position: absolute;
    bottom:10px;
    right:10px;
    background-color: red;
}
.btn_box_text{
   padding-top: 85px;
    padding-left: 60px;
    font-weight: bold;
    font-size: 20px;
}
